/****************************************** */
/************    COLOR    ***************** */
/****************************************** */
/****************************************** */
/************    FONT    ***************** */
/****************************************** */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none; }
  .nav a {
    text-decoration: none;
    color: #595757; }

.nav-about, .nav-works, .nav-contact {
  padding-right: 5px;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  border-color: #FF218C; }

.nav-works {
  border-color: #FFD800; }

.nav-contact {
  border-color: #21B1FF; }

/****************************************** */
/************    COLOR    ***************** */
/****************************************** */
/****************************************** */
/************    FONT    ***************** */
/****************************************** */
.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 24px 0px; }
  .social :nth-child(1) {
    margin-right: 50px; }
  .social :nth-child(3) {
    margin-left: 50px; }

.lobby {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .lobby :nth-child(2) {
    margin: 0px 0px 0px 8px; }

/****************************************** */
/************    COLOR    ***************** */
/****************************************** */
/****************************************** */
/************    FONT    ***************** */
/****************************************** */
.about {
  height: 100vh;
  background-color: #2F2D2D;
  color: #C3B8B8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .about h2 {
    width: 75px;
    border-bottom: 3px solid #FF218C;
    margin-bottom: 20px; }
  .about p {
    font-family: "Roboto";
    margin-left: 40px;
    margin-right: 40px;
    max-width: 900px; }

/****************************************** */
/************    COLOR    ***************** */
/****************************************** */
/****************************************** */
/************    FONT    ***************** */
/****************************************** */
.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .works h2 {
    margin-top: 100px;
    width: 85px;
    border-bottom: 3px solid #FFD800;
    margin-bottom: 20px; }

.works-theclaviste, .works-worldcraft, .works-portfolio {
  color: #C3B8B8;
  background-color: #2F2D2D;
  margin: 40px 10px 20px 10px;
  border-radius: 2px; }
  .works-theclaviste h3, .works-worldcraft h3, .works-portfolio h3 {
    margin: 20px; }
  .works-theclaviste p, .works-worldcraft p, .works-portfolio p {
    font-family: "Roboto";
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 30px;
    max-width: 900px; }

.works-worldcraft {
  margin-top: 100px; }

/****************************************** */
/************    COLOR    ***************** */
/****************************************** */
/****************************************** */
/************    FONT    ***************** */
/****************************************** */
.contact {
  height: 100vh;
  background-color: #2F2D2D;
  color: #C3B8B8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .contact h2 {
    width: 115px;
    border-bottom: 3px solid #21B1FF;
    margin-bottom: 20px; }
  .contact p {
    margin-top: 30px;
    font-family: "Roboto";
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 900px; }
  .contact .phone {
    margin-top: 25px; }
  .contact .mail {
    margin-top: 10px; }

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins"; }

header {
  width: 100%;
  position: fixed;
  top: 24px; }

footer {
  width: 100%;
  position: fixed;
  bottom: 0; }

/*# sourceMappingURL=style.css.map */
