


<div class="container">

    <div class="">

        <div class="">
            
                <h2>Présentation</h2>
                <p>Hey ! je me présent je suis thibault Gabillard. Je suis actuellement en formation développeur web et
                    web
                    mobile près du mans. J'ai découvert la programmation web pendant cette formation que j'ai commencé
                    il y
                    a 6 mois. je me douter pas une seconde que le métier que j'ailler découvrire me plairai temps et qui
                    devrendrai une passion (cette passion à pris le deçu sur cod ou valorant ).
                </p>
            
        </div>

        <div class="">
                <h2>skill</h2>
                
        </div>

        <div class="">
                <h2>claviste</h2>

        </div>
        <div class="">
                <h2>trot</h2>

        </div>
        <div class="">
                <h2>contact</h2>

        </div>
    </div>
</div>


