<div>


        <ul class="navUl">
            <li><a href="#">Présentation</a> </li>
            <li><a href="#">Compétence</a> </li>
            <li><a href="#">the Claviste</a> </li>
            <li><a href="#">trot&go</a> </li>
            <li><a href="#">Me Contacter</a></li>
        </ul>
   

</div>

