
.Comp--title{
    
    position: absolute !important;
    transform: rotate(90deg);
    right: 1010px;
    top: 50px;
    
}

.Comp--node{
    position: absolute !important;
    bottom:400px;
    right: 600px;
    
}
.Comp--sass{
    position: absolute !important; 
    bottom:400px;
    right: 370px;
    
}
.Comp--express{
    position: absolute !important;
    bottom: 250px;
    right: 320px;
    
}
.Comp--linux{
    position: absolute !important;
    bottom: 250px;
    right: 600px;
    
}
.Comp--html{
    position: absolute !important;
    bottom: 250px;
    right: 745Px;
}
.Comp--git{
    position: absolute !important;
    bottom: 110px; 
    right: 650px;
}
.Comp--mongo{
    position: absolute !important;
    bottom:  60px;
    right: 150px;
}

/*
 *
 *    responsive
 *
 *
 * * * * * * * */

//extra small < 600px
@media screen and (max-width: 600px) {
}
// small 600px > < 960px
@media screen and (min-width: 600px) and (max-width: 960px) {
    .numerotation{
        position: absolute;
        font-size: 10px;
        bottom: 0px;
        right: 20px;
        height: 20Px;
    }
    .Comp--node{
        position: absolute !important;
        bottom:425px;
        right: 0px;
        width: 350px;
    }
    .Comp--sass{
        position: absolute !important; 
        bottom: 300px;
        right: -100px;
        
    }
    
    .Comp--express{
        position: absolute !important;
        bottom: 175px;
        right: -140px;
        
    }
    .Comp--linux{
        position: absolute !important;
        bottom: 0px;
        right: 320px;
        
    }
    .Comp--html{
        position: absolute !important;
        bottom: 300px;
        right: 120px;
    }

    .Comp--git{
        position: absolute !important;
        bottom: 175px; 
        right: 120px;
    }
    .Comp--mongo{
        position: absolute !important;
        bottom:  0px;
        right: -150px;
    }
}
//medium 960px > < 1264px

@media screen and (min-width: 960px) and (max-width: 1264px) {
    .Comp--title{
    
        position: absolute !important;
        transform: rotate(90deg);
        right: 560px;
        top: 30px;
        
    }
    .Comp--node{
        position: absolute !important;
        bottom:425px;
        right: 150px;
    }
    .Comp--sass{
        position: absolute !important; 
        bottom: 300px;
        right: 100px;
        
    }
    
    .Comp--express{
        position: absolute !important;
        bottom: 175px;
        right: 50px
        
    }
    .Comp--linux{
        position: absolute !important;
        bottom: 0px;
        right: 550px
        
    }
    .Comp--html{
        position: absolute !important;
        bottom: 300px;
        right: 350px;
    }

    .Comp--git{
        position: absolute !important;
        bottom: 175px; 
        right: 350px
    }
    .Comp--mongo{
        position: absolute !important;
        bottom:  0px;
        right: 80px;
    }
}

//large 1264px* > < 1904px
@media screen and (min-width: 1264px) and (max-width: 1659px) {
    .Comp--title{
    
        position: absolute !important;
        transform: rotate(90deg);
        right: 860px;
        top: 50px;
        
    }
    .Comp--node{
        position: absolute !important;
        bottom:400px;
        right: 450px;
    }
    .Comp--sass{
        position: absolute !important; 
        bottom:400px;
        right: 220px;
        
    }
    
    .Comp--express{
        position: absolute !important;
        bottom: 250px;
        right: 170px;
        
    }
    .Comp--linux{
        position: absolute !important;
        bottom: 250px;
        right: 450px;
        
    }
    .Comp--html{
        position: absolute !important;
        bottom: 250px;
        right: 600px;
    }

    .Comp--git{
        position: absolute !important;
        bottom: 110px; 
        right: 600px;
    }
    .Comp--mongo{
        position: absolute !important;
        bottom:  60px;
        right: 50px;
    }
}

@media screen and (max-height: 900px) {
    .Comp--title{
    
        position: absolute !important;
        transform: rotate(90deg);
        right: 860px;
        top: 70px;
        
    }
    .Comp--node{
        position: absolute !important;
        bottom:310px;
        right: 450px;
    }
    .Comp--sass{
        position: absolute !important; 
        bottom:310px;
        right: 220px;
        
    }
    
    .Comp--express{
        position: absolute !important;
        bottom: 180px;
        right: 170px;
        
    }
    .Comp--linux{
        position: absolute !important;
        bottom: 180px;
        right: 450px;
        
    }
    .Comp--html{
        position: absolute !important;
        bottom: 180px;
        right: 600px;
    }

    .Comp--git{
        position: absolute !important;
        bottom: 30px; 
        right: 540px;
    }
    .Comp--mongo{
        position: absolute !important;
        bottom:  0px;
        right: 50px;
    }
}