.propos--img {
    position: absolute !important;
    bottom: 140Px;
    right: 320px;
   
  }
  .propos--p {
    position: absolute !important;
    bottom: 0;
    right: 50Px;
    z-index: 10;
    width: 750px;
    height: 300px;
    font-size: 18Px;
  }
  .propos--title {
    position: absolute !important;
    bottom:370px;
    right: 240px;
    z-index: 5;
    transform: rotate(270deg);
    font-size: 25px;
  }
/*
 *
 *    responsive
 *
 *
 * * * * * * * */

//extra small < 600px
@media screen and (max-width: 600px) {
}
// small 600px > < 960px
@media screen and (min-width: 600px) and (max-width: 960px) {
}
//medium 960px > < 1264px

@media screen and (min-width: 960px) and (max-width: 1264px) {
}

//large 1264px* > < 1904px
@media screen and (min-width: 1264px) and (max-width: 1904px) {}
    
//Extra large 1904px
@media screen and (min-width: 1904px) {
}