html {
  scroll-behavior: smooth;
  overflow: hidden;
}

.ME {
  position: absolute !important;
  span {
    font-size: 15px;
  }
}
.home {
  font-family: "Lobster Two";
  display: grid;
  grid-template-rows: 1fr 3.5fr 1fr;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
    " a . b"
    " . home . "
    " c . d ";
  height: 100%;
}
.home--container {
  position: relative !important;

  grid-area: home;
}
.home--nav--APropos {
  grid-area: a;
}
.home--nav--Comp {
  grid-area: b;
}

.home--nav--Real {
  grid-area: c;
}
.home--nav--contact {
  grid-area: d;
}
.nav--btn--propos {
  cursor: pointer;
  color: #ffffff;
  font-family: "Poppins";
}
.nav--btn--Comp {
  cursor: pointer;

  color: #6b6a6a;
  font-family: "Poppins";
}
.nav--btn--real {
  cursor: pointer;

  color: #6b6a6a;
  font-family: "Poppins";
}

.nav--btn--cont {
  cursor: pointer;

  color: #6b6a6a;
  font-family: "Poppins";
}
.social {
  grid-area: b;
  .link {
    font-size: 30px;
  }
}
.signature {
  grid-area: c;
  font-size: 15px;
}

.darkTheme {
  background-color: #212121;
}

.numerotation {
  position: absolute;
  font-size: 10px;
  transform: rotate(90deg);
  bottom: 0;
  right: 0;
  height: 20px;
}
.cursor-enter-active {
  animation: cursor-in 1s forwards;
}
.cursor-leave-active {
  animation: cursor-out 0s forwards;
}
@keyframes cursor-in {
  from {
    pointer-events: none;
    top: 15px;
    left: 15px;
    position: fixed;
    width: 0;
    height: 0;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 50%;
    z-index: 5555;
    backface-visibility: hidden;
    transition: opacity 0.6s ease;
  }
  to {
    pointer-events: none;
    top: 0px;
    left: 0px;
    position: fixed;
    width: 45px;
    height: 45px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 100%;
    z-index: 5555;
    backface-visibility: hidden;
    transition: opacity 0.6s ease;
  }
}
@keyframes cursor-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.g-cursor {

  &__circle {
    pointer-events: none;

    top: 0;
    left: 0;
    position: fixed;
    width: 45px;
    height: 45px;
    border: 2px solid rgb(100, 100, 100);
    border-radius: 100%;
    z-index: 5555;
    backface-visibility: hidden;
    transition: opacity .6s ease;
  }

}

.trot-enter-active {
  animation: slide-in-trot 0.5s forwards;
}
.trot-leave-active {
  animation: slide-out-trot 0.5s forwards;
}
@keyframes slide-in-trot {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-out-trot {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.claviste-enter-active {
  animation: slide-in-claviste 0.5s forwards;
}
.claviste-leave-active {
  animation: slide-out-claviste 0.5s forwards;
}
@keyframes slide-in-claviste {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-out-claviste {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.contactComponent {
  width: 100%;
  height: 100%;
}
