html {
  scroll-behavior: smooth;
  overflow: hidden;
}
.home {
    font-family: 'Lobster Two';
    display: grid;
    grid-template-rows: 1fr 3.5fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      " a . b"
      " . home . "
      " c . d ";
    height: 100%;
  }
  .home--container {
    position: relative !important;
  
    grid-area: home;
  }
  .home--nav--APropos {
    
    grid-area: a;
  }
  .home--nav--Comp {
    
    grid-area: b;
  }
  
  .home--nav--Real {
    grid-area: c;
  }
  .home--nav--contact {
    grid-area: d;
  }
  .nav--btn--propos{
    color: #ffffff;
    font-family: 'Poppins';
  }
  .nav--btn--Comp{
    color: #6b6a6a;
    font-family: 'Poppins';
  }
  .nav--btn--real{
    color: #6b6a6a;
    font-family: 'Poppins';
  }
  .nav--btn--cont{
    color: #6b6a6a;
    font-family: 'Poppins';
  }
  .social {
    grid-area: b;
    .link {
      font-size: 30px;
    }
  }
  .signature {
    grid-area: c;
    font-size: 15px;
  }

  .darkTheme{
    background-color: #212121;
  }
  .CompComponent{
    display: none;
  }
  
 