.real_prese
    margin-bottom: 20px
#realisation
    & .card-title
        color: $globalText
    & .card
        height: 700px
        overflow: hidden
        min-width: 350px !important
        background-color: $colorCard
        & .card-content
            height: 350px
            & p 
                margin-top: 35px
   
    & .chip
        background-color: $colorChip