<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-list-item" routerLinkActive="active" routerLink="/home">
            <app-glitch text="Accueil"></app-glitch>
        </li>
        <li class="navbar-list-item" routerLinkActive="active" routerLink="/works">
            <app-glitch text="Projets"></app-glitch>
        </li>
        <li class="navbar-list-item" routerLinkActive="active" routerLink="/contact">
            <app-glitch text="Contact"></app-glitch>
            
        </li>
    </ul>    
</nav>
