.navbar
  height: 5vh
  min-height: 5vh
  width: 20vw
  position: fixed
  bottom: 20px
  left: 50%
  transform: translateX(-50%)
  border-radius: 5px
  background-color: var(--white-blue)
  &-list
    height: 100%
    width: 100%
    display: flex
    justify-content: space-around
    list-style: none
    &-item
      height: 100%
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      font-family: Poppins
      border-radius: 5px
      cursor: pointer
      &.active
        color: var(--white-blue)
        background-color: var(--dark-light)
