.navbar
  position: fixed
  bottom: 2vh
  left: 47.5%
  width: 5%
  display: flex
  justify-content: center
  &-list
    display: flex
    justify-content: space-around
    list-style: none
    gap: 50px
    &-item
      display: flex
      justify-content: center
      align-items: center
      font-family: "bebasneue"
      border-radius: 5px
      cursor: pointer
      color: rgb(234, 239, 238)
      font-size: 1.8em
      &.active
        color: rgb(180, 243, 241)
