@import ../variable
@import ../responsive/AboutResponsive
.about
    height: 100vh
    background-color: $bgColorGrey
    color: $TextColorSecondary
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    & h2 
        width: 75px
        border-bottom: 3px solid $mainRose
        margin-bottom: 20px   
    & p 
        font-family: 'Roboto'
        max-width: 900px
        margin-left: 40px
        margin-right: 40px
    @include about-responsive
    
        