@import ../variable
@import ../responsive/WorksResponsive

.works
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    & h2
        color: $TextColorPrimary
        margin-top: 100px
        width: 85px
        border-bottom: 3px solid $mainJaune
        margin-bottom: 20px
    @include works_responsive
        

.works-theclaviste
    color: $TextColorSecondary
    margin: 40px 10px 20px 10px
    border-radius: 2px
    max-width: 863px
    max-height: 820px
    & h3
        margin: 20px 20px 0px 20px
    & p
        font-family: 'Roboto'
        margin-left: 40px
        margin-right: 40px
        max-width: 900px
    @include works-content_responsive("theclaviste")
    

.works-worldcraft
    @extend .works-theclaviste
    margin-top: 100px
    @include works-content_responsive("worldcraft")
    

.works-portfolio
    @extend .works-theclaviste
    @include works-content_responsive("portfolio")


.voirCode
    display: inline-block
    margin: 5px
    padding: 5px
    background-color: $mainJaune
    border-radius: 2px
    color: $TextColorPrimary
    text-decoration: none
    -webkit-animation: flip-scale-2-hor-top-reverse 0.5s linear both
    animation: flip-scale-2-hor-top-reverse 0.5s linear both
    &:hover
        -webkit-animation: flip-scale-2-hor-top 0.5s linear both
        animation: flip-scale-2-hor-top 0.5s linear both


  

@-webkit-keyframes flip-scale-2-hor-top 
  0% 
    -webkit-transform: translateY(0) rotateX(0) scale(1)
            transform: translateY(0) rotateX(0) scale(1)
    -webkit-transform-origin: 50% 0%
            transform-origin: 50% 0%
  
  50% 
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2)
            transform: translateY(-50%) rotateX(-90deg) scale(2)
    -webkit-transform-origin: 50% 50%
            transform-origin: 50% 50%
  
  100% 
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1)
            transform: translateY(-100%) rotateX(-180deg) scale(1)
    -webkit-transform-origin: 50% 100%
            transform-origin: 50% 100%
  

@keyframes flip-scale-2-hor-top 
  0% 
    -webkit-transform: translateY(0) rotateX(0) scale(1)
            transform: translateY(0) rotateX(0) scale(1)
    -webkit-transform-origin: 50% 0%
            transform-origin: 50% 0%
  
  50% 
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2)
            transform: translateY(-50%) rotateX(-90deg) scale(2)
    -webkit-transform-origin: 50% 50%
            transform-origin: 50% 50%
  
  100% 
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1)
            transform: translateY(-100%) rotateX(-180deg) scale(1)
    -webkit-transform-origin: 50% 100%
            transform-origin: 50% 100%



@-webkit-keyframes flip-scale-2-hor-top-reverse 
  0% 
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1)
            transform: translateY(-100%) rotateX(-180deg) scale(1)
    -webkit-transform-origin: 50% 100%
            transform-origin: 50% 100%
  
  50% 
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2)
            transform: translateY(-50%) rotateX(-90deg) scale(2)
    -webkit-transform-origin: 50% 50%
            transform-origin: 50% 50%
  
  100% 
    -webkit-transform: translateY(0) rotateX(0) scale(1)
            transform: translateY(0) rotateX(0) scale(1)
    -webkit-transform-origin: 50% 0%
            transform-origin: 50% 0%
  

@keyframes flip-scale-2-hor-top-reverse  
  0% 
    -webkit-transform: translateY(-100%) rotateX(-180deg) scale(1)
            transform: translateY(-100%) rotateX(-180deg) scale(1)
    -webkit-transform-origin: 50% 100%
            transform-origin: 50% 100%
  
  50% 
    -webkit-transform: translateY(-50%) rotateX(-90deg) scale(2)
            transform: translateY(-50%) rotateX(-90deg) scale(2)
    -webkit-transform-origin: 50% 50%
            transform-origin: 50% 50%
  
  100% 
    -webkit-transform: translateY(0) rotateX(0) scale(1)
            transform: translateY(0) rotateX(0) scale(1)
    -webkit-transform-origin: 50% 0%
            transform-origin: 50% 0%
  



    