@import ../variable
@import ../responsive/WorksResponsive

.works
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    & h2
        color: $TextColorPrimary
        margin-top: 100px
        width: 85px
        border-bottom: 3px solid $mainJaune
        margin-bottom: 20px
    @include works_responsive
        

.works-theclaviste
    color: $TextColorSecondary
    margin: 40px 10px 20px 10px
    border-radius: 2px
    max-width: 863px
    max-height: 820px
    & h3
        margin: 20px 20px 0px 20px
    & p
        font-family: 'Roboto'
        margin-left: 40px
        margin-right: 40px
        max-width: 900px
    @include works-content_responsive("theclaviste")
    

.works-worldcraft
    @extend .works-theclaviste
    margin-top: 100px
    @include works-content_responsive("worldcraft")
    

.works-portfolio
    @extend .works-theclaviste
    @include works-content_responsive("portfolio")


.voirCode
    display: inline-block
    margin: 5px
    padding: 5px
    background-color: $mainJaune
    border-radius: 2px
    color: $TextColorPrimary
    text-decoration: none 





    