<ul class="sidemenu-list">
    <li class="sidemenu-list-item">
        <a [@aboutTextInOut]="textAnimationState" class="sidemenu-list-item-link" href="">About Me</a>
        <div [@aboutBorderInOut]="textAnimationState" class="sidemenu-list-item-border" ></div>
    </li>
    <li class="sidemenu-list-item">
        <a [@worksTextInOut]="textAnimationState" class="sidemenu-list-item-link" href="">Works</a>
        <div [@worksBorderInOut]="textAnimationState" class="sidemenu-list-item-border"></div>
    </li>
    <li class="sidemenu-list-item">
        <a [@skillsTextInOut]="textAnimationState" class="sidemenu-list-item-link" href="">Skills</a>
        <div [@skillsBorderInOut]="textAnimationState" class="sidemenu-list-item-border" ></div>
    </li>
    <li class="sidemenu-list-item">
        <a [@contactTextInOut]="textAnimationState" class="sidemenu-list-item-link" href="">Contact</a>
        <div [@contactBorderInOut]="textAnimationState" class="sidemenu-list-item-border"></div>
    </li>
</ul>

