.brand
  font-family: "alexa"
  font-weight: 400
  color: rgb(214, 238, 238)
  position: absolute
  top: 20px
  left: 20px

main
  position: fixed
  border: 1px solid white
  height: 90vh
  width: 90vw
  top: 5vh
  left: 5vw