<div class="works">
    <div class="works-item">
        <div class="works-item-img">
            <img src="/assets/img/Capture.PNG" alt="">
        </div>
        <div class="works-item-summary">
            <h3 class="works-item-summary-title">M6 FORMATS</h3>
            <p class="works-item-summary-describe">Tamen observentur ubi usque haec.</p>
        </div>
    </div>
    <div class="works-item">
        <div class="works-item-img">
            <img src="/assets/img/revomodule.PNG" alt="">
        </div>
        <div class="works-item-summary">
            <h3 class="works-item-summary-title">Revo</h3>
            <p class="works-item-summary-describe">Tamen observentur ubi usque haec.</p>
        </div>
    </div>
    <div class="works-item">
        <div class="works-item-img">
            <img src="/assets/img/statistique.PNG" alt="">
        </div>
        <div class="works-item-summary">
            <h3 class="works-item-summary-title">Portfolio</h3>
            <p class="works-item-summary-describe">Tamen observentur ubi usque haec.</p>
        </div>
    </div>
</div>
<!--<app-canvas></app-canvas>-->
