@import ./partials/border,./partials/_propos,./partials/_real,./partials/_contact, ./variable

*
    margin: 0
    padding: 0 
p 
    font-size: $paraSize
    font-family: $secondaryFont

h1 
    font-family: $primaryFont

h2 
    @extend h1


 
    


    
    
    