  
/*******************************************/
/************    COLOR    ******************/
/*******************************************/
$mainRose: #FF218C
$mainJaune: #FFD800
$mainBleu: #21B1FF
$TextColorPrimary: #595757
$TextColorSecondary: #C3B8B8
    
$bgColorGrey: #2F2D2D

/*******************************************/
/************    FONT    ******************/
/*******************************************/
$mainFont: 'Poppins'
