
@mixin works_responsive
    @media (min-width: 1280px)
        align-items: flex-end
        margin-right: 229px
    & h2
        @media (min-width: 1280px)
            margin-left: 229px
            font-size: 38px
            width: 135px

@mixin works-content_responsive($name)
    @media (min-width: 768px)
        max-width: 550px
    @media (min-width: 1024px)
        max-width: 700px
    @media (max-width: 1279px)
        background-color: $bgColorGrey
    @media (min-width: 1280px)
        & img
            z-index: -10
            margin-left: -209px
            @include boxShadow
        & .works-#{$name}-content
            display: inline-block
            z-index: 0
            margin-top: -260px
            max-width: 801px
            max-height: 385px
            background-color: $bgColorGrey
            padding: 30px
            margin-right: 35px
            @include boxShadow
            & h3
                font-size: 36px
            & p
                font-size: 18px
    @media (min-width: 1440px)
        & img
            margin-left: -280px