$dark: #1d2020
$dark-light: #26081086
$blue-darkness: #1D6A73
$blue: #1C8C8C
$blue-light: #41F2E1
$white-blue: #CEF2E5

\:root
  --dark: #{$dark}
  --dark-light: #{$dark-light}
  --blue-darkness: #{$blue-darkness}
  --blue: #{$blue}
  --blue-light: #{$blue-light}
  --white-blue: #{$white-blue}
