$dark: rgb(64, 72, 93)
$dark-transparent: rgba(64, 72, 93, 0.32)
$light: rgb(229, 245, 245)
$light-transparent: rgba(229, 245, 245, 0.32)

//text
$text-dark: $dark
$text-light: $light

\:root
  --color-dark: #{$dark}
  --color-dark-transparent: #{$dark-transparent}
  --color-light: #{$light}
  --color-light-transparent: #{$light-transparent}
  --text-dark: #{$text-dark}
  --text-light: #{$text-light}
