$brown-dark: #7A7067
$brown: #BFB3A8
$brown-light: #E6DFD9
$blue: #0d171a
$blue-light: #419c95a2


\:root
  --brown-dark: #{$brown-dark}
  --brown: #{$brown}
  --brown-light: #{$brown-light}
  --blue: #{$blue}
  --blue-light: #{$blue-light}
